.box {
	float: left;
	padding: 50px 0px;
}

.clearfix::after {
	clear: both;
	display: table;
}

.options {
	margin: 5px 0px 0px 0px;
	float: left;
}

.pagination {
	float: right;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
	margin: 0 4px;
}

.pagination a.active {
	background-color: #4CAF50;
	color: white;
	border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}


.wrapper .left_icon .arrow_icon{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}
.wrapper .course_head{
    margin-left: -25px;
    margin-top: -12px;
}
.wrapper .course_head .header_content{
	cursor: pointer;
}
.wrapper .save_drft_btn{
	margin-top: -50px;
} 
#course-box  h6{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 52px;
}
#course_box .user_img_icon, #course_box .message_img_icon, #course_box .attach_img_icon{
	position: relative;
}
#course_box .icon_counts{
    position: absolute;
    background-color: black;
    color: white;
    font-size: 11px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    text-align: center;
    right: 5px;
    top: 22px;
}
.uploaded_display .fileup-file{
    margin: 5px;
    float: left;
    width: 48%;
}
.uploaded_display .fileup-description{
    height: 29px;
    overflow: hidden;
    text-overflow: ellipsis;
}